@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');

:root {
    --fonte-sub-titulos: 'Dosis', sans-serif;
    --fonte-titulos: 'Josefin Sans', sans-serif;
}

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    .container {
        display: flex;
    }

    .container .item {
        display: flex;

    }
    /* main {
        width: 768px;
    } */

    header {
        background-color:darkgray;
        padding: 10px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
    }
    
    header img {
        width: 25vw;    
    }
    
    menu  ul li {
        list-style: none;
        
    }
    
    menu > ul a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.699);
        border: 1px solid rgba(169, 169, 169, 0.274);
        border-radius: 20px;
        padding: 2px 4px;
        margin-right: 20px;
    }
    
    menu > ul a:hover {
        background-color: lightgray;
        color: black;
        transition: 0.5s;
        
    }

    .container {
        display: flex;
        background-color: lightgray;
        padding: 5px;
        align-items: center;
        
        text-align: center;
    }
    
    .container .item {
        background-color: rgb(238, 18, 18);
        margin: 5px;
        width: 100px;
        padding: 10px;
        text-align: center;
        border-radius: 50px;
    }
    
    .container .item:hover {
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 0px black;
        margin: 5px;
        transition: 0.3s;
        transform: scale(1.2);
    }
    
    .container a {
        text-decoration: none;
    }
    
  
    main {
        background-color: aliceblue;
        width: 60vw;
        margin: auto auto auto 15vw;
        text-align: justify;
        font-size: 0.95em;
        line-height: 1.6;
    }
    main h1, h3 {
        font-family: var(--fonte-titulos);
    }
    main h2 {
        font-family: var(--fonte-sub-titulos);
    }
    
    main hr {
        margin: 0px 0px 15px 0px;
    }
    main  p {
        padding: 8px 0; 
        width: 60vw; 
        font-weight: 100;
    }
    
    main h2 {
        margin-top: 8%;
    }

    footer {
        background-color: rgb(22, 22, 22);
        text-align: center;
        color: white;
        padding: 8px;
        font-weight: bold;
        font-family: var(--fonte-sub-titulos);
        text-shadow: 1px 1px 0px black;
    }
    
}